h1 {
  --font-size: var(--font-size-2xl);
}
h2 {
  --font-size: var(--font-size-xl);
}
h3,
h4 {
  --font-size: var(--font-size-lg);
}
h5,
h6,
p,
button {
  --font-size: var(--font-size-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size);
  line-height: 1.2;
}

p {
  line-height: 1.5;
}
