/* https://color.adobe.com/Water-&-Rust-color-theme-1478205/ */

:root {
  /* Sizes */
  --rhythm: 1.2;
  --font-size-base: clamp(
    1rem,
    calc(0.57vw + 0.89rem),
    1.25rem
  ); /* 16px -> 20px (320px -> 1024px) */

  --font-size-sm: calc(var(--font-size-base) / var(--rhythm));
  --font-size-md: var(--font-size-base);
  --font-size-lg: calc(var(--font-size-base) * var(--rhythm));
  --font-size-xl: calc(var(--font-size-lg) * var(--rhythm));
  --font-size-2xl: calc(var(--font-size-xl) * var(--rhythm));

  /* Breakpoints 20rem 48rem 64rem */
  --layout-xs: clamp(
    0.2rem,
    calc(0.11vw + 0.18rem),
    0.25rem
  ); /* 3.2px -> 4px (320px -> 1024px) */
  --layout-sm: clamp(
    0.38rem,
    calc(0.28vw + 0.32rem),
    0.5rem
  ); /* 6px -> 8px (320px -> 1024px) */
  --layout-md: clamp(
    0.75rem,
    calc(0.57vw + 0.64rem),
    1rem
  ); /* 12px -> 16px (320px -> 1024px) */
  --layout-lg: clamp(
    1.5rem,
    calc(1.14vw + 1.27rem),
    2rem
  ); /* 24px -> 32px (320px -> 1024px) */

  --border-radius: 0.5rem;

  /* Colors */
  --primary-color: oklch(58.33% 0.126 211.53);
  --secondary-color: oklch(68.51% 0.187 39.55);
  --accent-color: oklch(29.68% 0.126 261.26);
  --accent2-color: oklch(51.81% 0.228 32.5);

  --primary-light: oklch(86.2% 0.012 245.24);
  --primary-dark: oklch(18.23% 0.043 255.45);
  --darken: black;
  --lighten: white;

  --font-on-color: var(--primary-light);
  --font-on-light: var(--primary-dark);
  --background-light: color-mix(
    in oklab,
    var(--primary-light) 70%,
    var(--lighten) 30%
  );
  --background-dark: color-mix(
    in oklab,
    var(--primary-dark) 70%,
    var(--darken) 30%
  );
}

html.dark-theme {
  /* Swapped colors */
  --darken: white;
  --lighten: black;

  --font-on-color: var(--primary-dark);
  --font-on-light: var(--primary-light);
  --background-dark: color-mix(
    in oklab,
    var(--primary-light) 70%,
    var(--darken) 30%
  );
  --background-light: color-mix(
    in oklab,
    var(--primary-dark) 70%,
    var(--lighten) 30%
  );
}
