/* https://color.adobe.com/Water-&-Rust-color-theme-1478205/ */

:root {
  /* Sizes */
  --rhythm: 1.2;
  --font-size-base: 1rem;

  --font-size-sm: calc(var(--font-size-base) / var(--rhythm));
  --font-size-md: var(--font-size-base);
  --font-size-lg: calc(var(--font-size-base) * var(--rhythm));
  --font-size-xl: calc(var(--font-size-lg) * var(--rhythm));
  --font-size-2xl: calc(var(--font-size-xl) * var(--rhythm));
  --font-size-3xl: calc(var(--font-size-2xl) * var(--rhythm));

  /* Colors */
  --primary-color: #0593a2;
  --secondary-color: #ff7a48;
  --accent-color: #103778;
  --accent2-color: #e3371e;

  --font-dark: #c7d2de;
  --font-light: #151f30;
  --background-light: color-mix(in oklab, var(--font-dark) 90%, white 10%);
  --background-dark: color-mix(in oklab, var(--font-light) 90%, black 10%);
}

html.dark-theme {
  /* Swapped colors */
  --font-dark: #151f30;
  --font-light: #c7d2de;
  --background-dark: color-mix(in oklab, var(--font-dark) 90%, white 10%);
  --background-light: color-mix(in oklab, var(--font-light) 90%, black 10%);
}
