/* https://color.adobe.com/Water-&-Rust-color-theme-1478205/ */

:root {
  /* Sizes */
  --rhythm: 1.2;
  --font-size-base: clamp(
    1rem,
    calc(0.57vw + 0.89rem),
    1.25rem
  ); /* 16px -> 20px (320px -> 1024px) */

  --font-size-sm: calc(var(--font-size-base) / var(--rhythm));
  --font-size-md: var(--font-size-base);
  --font-size-lg: calc(var(--font-size-base) * var(--rhythm));
  --font-size-xl: calc(var(--font-size-lg) * var(--rhythm));
  --font-size-2xl: calc(var(--font-size-xl) * var(--rhythm));

  /* Breakpoints 20rem 48rem 64rem */
  --layout-xs: clamp(
    0.2rem,
    calc(0.11vw + 0.18rem),
    0.25rem
  ); /* 3.2px -> 4px (320px -> 1024px) */
  --layout-sm: clamp(
    0.38rem,
    calc(0.28vw + 0.32rem),
    0.5rem
  ); /* 6px -> 8px (320px -> 1024px) */
  --layout-md: clamp(
    0.75rem,
    calc(0.57vw + 0.64rem),
    1rem
  ); /* 12px -> 16px (320px -> 1024px) */
  --layout-lg: clamp(
    1.5rem,
    calc(1.14vw + 1.27rem),
    2rem
  ); /* 24px -> 32px (320px -> 1024px) */

  /* Colors */
  --primary-color: #0593a2;
  --secondary-color: #ff7a48;
  --accent-color: #103778;
  --accent2-color: #e3371e;

  --font-dark: #c7d2de;
  --font-light: #151f30;
  --background-light: color-mix(in oklab, var(--font-dark) 90%, white 10%);
  --background-dark: color-mix(in oklab, var(--font-light) 90%, black 10%);
}

html.dark-theme {
  /* Swapped colors */
  --font-dark: #151f30;
  --font-light: #c7d2de;
  --background-dark: color-mix(in oklab, var(--font-dark) 90%, white 10%);
  --background-light: color-mix(in oklab, var(--font-light) 90%, black 10%);
}
