.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: var(--layout-md);
  margin-bottom: var(--layout-lg);

  @media (min-width: 20rem) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 48rem) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 64rem) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
