button {
  corner-shape: squircle;
  border-radius: var(--border-radius);
  border-color: var(--font-on-light);
  background-color: var(--background-light);
  padding: var(--layout-sm);

  &,
  & > * {
    color: var(--font-on-light);
  }

  &:hover {
    background-color: color-mix(
      in oklab,
      var(--background-light) 90%,
      var(--darken) 10%
    );
  }

  &:focus {
    background-color: color-mix(
      in oklab,
      var(--background-light) 80%,
      var(--darken) 20%
    );
  }

  box-shadow: 2px 2px 5px var(--primary-dark);
}
