.site-footer {
  height: 5rem;
  background-color: var(--primary-color);
  align-content: center;
  margin-top: auto;

  & .footer-text {
    margin-top: 0;
    text-align: center;
    color: var(--primary-dark);
  }
}
