.site-header {
  background-color: var(--primary-color);
  padding-inline: var(--layout-lg);

  & .header-content {
    height: 7rem;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    & h1 {
      color: var(--primary-dark);
      margin-top: 0;
    }

    & .theme-toggle {
      text-wrap-mode: nowrap;
    }
  }
}
