/* 
 * CSS architecture created following suggestions of 
 * [CUBE CSS](https://cube.fyi/#what-does-cube-css-stand-for)
 */

@layer base, layout, components, utilities;

@import "base/reset.css" layer(base);
@import "base/variables.css" layer(base);
@import "base/typography.css" layer(base);
@import "base/global.css" layer(base);

@import "layout/flow.css" layer(layout);

@import "components/button.css" layer(components);
@import "components/header.css" layer(components);
@import "components/footer.css" layer(components);
